@model Patient

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pb-3">
            <div class="row">
                <div class="col-md-12 pb-3">
                    <div class="card">
                        <div class="card-header bg-info    ">
                            <div>@Model.Name.FirstOrDefault()?.Text</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">Code Status</div>
                                <div class="col-md-6">@Model.Status</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Language</div>
                                <div class="col-md-6">@Model.Communication?.FirstOrDefault()?.Language?.Text</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Gender</div>
                                <div class="col-md-6">@Model.Gender</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Birthdate</div>
                                <div class="col-md-6">@Model.BirthDate.ToString("d")</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12 pb-3">
                    <div class="card">
                        <div class="card-header bg-info">Videos</div>
                        <div class="card-body">
                            <p>ED Handoff</p>
                            <div class="text-center" style="border: 3px solid red;">
                                <video class="embed-responsive-item" controls>
                                    <source type="video/mp4" src="~/handoff.mp4">
                                </video>
                            </div>
                        </div>
                        <div class="card-footer">
                            <img src="~/faces.jpg" style="max-width:100%;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6  pb-3">
            <div class="row">
                <div class="col-md-12 pb-3">
                                    <div class="card">
                                        <div class="card-header bg-info">Vital Signs</div>
                                        <div class="card-body">
                                            @foreach (var vitalSign in Model.VitalSigns.Entry)
                                            {
                                                <div class="row">
                                                    <div class="col-md-4">@vitalSign.Resource.Code.Text</div>
                                                    <div class="col-md-2">
                                                        @if (vitalSign.Resource.ValueQuantity != null)
                                                        {
                                                            @vitalSign.Resource.ValueQuantity.Value
                                                            @vitalSign.Resource.ValueQuantity.Unit
                                                        }
                                                    </div>
                                                    <div class="col-md-6">@vitalSign.Resource.EffectiveDateTime.ToString("g")</div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                <div class="col-md-12 pb-3">
                    <div class="card">
                        <div class="card-header bg-info">Allergies</div>
                        <div class="card-body">
                            @if (Model.Allergies.Entry.Any())
                            {
                                foreach (var allergy in Model.Allergies.Entry)
                                {
                                    <div>@allergy.Resource.Substance.Text @(allergy.Resource.Note != null ? $"({@allergy.Resource.Note.Text})" : "")</div>
                                }
                            }
                            else
                            {
                                <div>(N/A)</div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pb-3">
                    <div class="card">
                        <div class="card-header bg-info">Imaging</div>
                        <div class="card-body">
                            @*                         @foreach (var image in Model.Imaging.Entry) *@
                            @*                         { *@
                            @*                             <div class="row"> *@
                            @*                                 <div class="col-md-4">@image.Resource.Code.Text</div> *@
                            @*                                 <div class="col-md-2"> *@
                            @*                                     @if (image.Resource.ValueQuantity != null) *@
                            @*                                     { *@
                            @*                                         @image.Resource.ValueQuantity.Value *@
                            @*                                         @image.Resource.ValueQuantity.Unit *@
                            @*                                     } *@
                            @*                                 </div> *@
                            @*                                 <div class="col-md-6">@image.Resource.EffectiveDateTime.ToString("g")</div> *@
                            @*                             </div> *@
                            @*                         } *@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>